*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(images.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.siva{
    height: 200px;
    width: 400px;
    background-color: rgba(102, 102, 180, 0.822);
    padding: 30px;
    margin-top: 10px;
    text-align: justify;
    overflow:scroll;
}